
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>

    <style>
        .buttonCategories {
            border: hidden;
            margin-bottom: 10px;
            padding-right: 1rem;
            padding-left: 1rem;
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
            color: rgb(236, 106, 42);
        }

        footer {
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 150px;
            padding: 15px;
            background-color: #000;
        }
    </style>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <main class="my-3">

        <div class="container">

            <header>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="text-align:center;">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text aos-init aos-animate">Add Blog</h1>
                        </div>
                    </div>
                </div>
            </header>
            <form method="post">

                <div class="form-group">

                    <label for="BlogTitle">Blog Title</label>
                    <input type="text" name="BlogTitle" class="form-control" />

                </div>
                <div class="form-group">

                    <label for="BlogTitle">Category</label>
                    <select name="CategoryId" class="form-control">
                        <option value="" disabled selected> Kategori Seçiniz </option>
                        @foreach (var data in ViewBag.Categories)
                        {

                            <option value="@data.id">@data.CategoryName</option>
                        }

                    </select>

                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>


        </div>

    </main>
    @await Html.PartialAsync("_footer")
</body>
</html>