@model Mvc_Tekrar.Models.Blog
@{ 
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>

    <style>
        .buttonCategories {
            border: hidden;
            margin-bottom: 10px;
            padding-right: 1rem;
            padding-left: 1rem;
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
            color: rgb(236, 106, 42);
        }

        footer {
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 150px;
            padding: 15px;
            background-color: #000;
        }
    </style>

</head>
<body>
    @await Html.PartialAsync("_displayHeader")
    <div style="overflow: hidden;">

        <main class="col-12 col-lg-8 p-0" style="margin-left:10%;margin-right:10%;">

            Yazılan Blog içeriği..

        </main>
        <div class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
            <div class="row item">
                <div class="col-12 align-self-center text-left">
                    <h4 class="title">Son Yazılar (En çok okunanlar) </h4>
                    <ul class="list-group list-group-flush">

                        @foreach (var data in ViewBag.LatestArticles)
                        {

                            <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/Home/Details/@data.id">@data.BlogTitle</a></li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
