<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="text-align:center;">
            <div class="col-12 mx-auto inner">
                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text aos-init aos-animate">Blog App</h1>
            </div>
        </div>
    </div>
</header>