<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Deneme </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="margin-left:5px;" class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a style="margin-left:5px;" class="nav-link" href="/Home/Create">Add Blog</a>
            </li>
        </ul>
     
    </div>
</nav>